<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .m_tm_20 {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="container m_tm_20">

        <h1>Temperature : {{temp}} ℃</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Movie Title</th>
                    <th>Summary</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <!-- start Movie Card -->
                <tr>
                    <td><img src="{{movie.small_cover_image}}"></td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.summary}}</td>
                    <td>{{movie.rating}}</td>
                </tr>
                <!-- end Movie Card -->
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>

</html>